.leader-section{
    display: flex;
}
.leader-card{
    background-color: rgb(39, 39, 39);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    margin: 8px 24px;
}
.leader-card:hover{
    border: solid 1px rgb(145, 144, 144);
}